.socialButtons {
    display: flex;
    flex-direction: row;
}
.socialButtons button {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    height: 30px;
    width: 58px;
    align-items: center;
    justify-content: center;
    background-color: rgba(226, 226, 226, 0.5);
}
.socialButtons button span {
    font-size: 12px;
    font-weight: var(--font-weight-MEDIUM);
}
.socialButtonsLike {
    border-left: var(--border-width-regular) solid var(--dim-gray);
    border-bottom: var(--border-width-regular) solid var(--dim-gray);
    border-top: var(--border-width-regular) solid var(--dim-gray);
    border-right: var(--border-width-thin) solid var(--dim-gray);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.socialButtonsDislike {
    border-left: var(--border-width-thin) solid var(--dim-gray);
    border-bottom: var(--border-width-regular) solid var(--dim-gray);
    border-top: var(--border-width-regular) solid var(--dim-gray);
    border-right: var(--border-width-thin) solid var(--dim-gray);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}